.main {
  width: 90%;
  margin: 5px auto;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
}

input[type="text"] {
  border: 1px solid #c5c5c5; 
}

.autocomplete-list {
  margin: 0;
  padding: 0;
  width: 100%;
}

.autocomplete-list li {
  width: 100%;
  transition: all 200ms ease;
  transition-property: background, font-weight;
  cursor: pointer;
  padding: 10px;
  display: block;
  border-bottom: 1px solid #c5c5c5;
}

.autocomplete-list li:hover {
  background: #f0f0f0;
  font-weight: 900;
}
